<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <h1>I've got the JavaScript Blues</h1>
    <script type="text/javascript">
     /*
    var person = "";
    person = prompt("who are you ? ");
    alert("Hi Theere "+ person +" !");
    */

    /*
    var text = new String;
    text = prompt("Please emter some text");

    alert("I' ll shut it out:");
    alert(text.toUpperCase());


    alert("Now in lowercase ...");
    alert(text.toLowerCase());

    alert("The first 'a' is at letter..");
    alert(text.indexOf("a"));


    alert("The first thrre letters are ...");
    alert(text.substring(0,3));
    
     */

    


    /* 
     var x = parseInt(prompt("Enter first value : "));
     var y = parseInt(prompt("ENTER SECOND VALUE : "));

     var sum = x + y;

     alert(x +  " plus " + y + " equals  to " + sum);
     */


     document.body.style.color = "white";
     document.body.style.backgroundColor = "blue";




    </script>
 
  </body>
</html>