
{%extends '_base.html'%}
{% load static %}

{%block title%}Home{%endblock title%}

{%block content%}

 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

     <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
   
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="{% static 'img/public-schools.jpg' %}" alt=""width="100%" height="170px">

        <div class="container">
          <div class="carousel-caption text-start">
            <h3>Hello 1</h3>    
          <p><a class="btn btn-lg btn-primary" href="#"></a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/flywheel.jpg' %}" alt="" width="100%"height="170px">
        <div class="container">
          <div class="carousel-caption">
           <h3>Hello 2</h3>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'img/twins_1.jpg' %}" alt=""width="100%"height="170px">
        <div class="container">
          <div class="carousel-caption">
             <h3>Hello 3</h3>
          </div>
        </div>
      </div>
      

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
<div>

{% for post in object_list %}
<div class="card">
  <div class="card-header">
     <span class="font-weight-bold"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></span>
    &middot;<span class="text-muted">
      by {{ post.user}} | on {{ post.date }}</span>
  </div>
  <div class="card-body">
    <p>{{ post.body }}</p>
    <a href="{% url 'post_edit' post.pk %}">Edit</a>
  | <a href="{% url 'post_delete' post.pk %}">Delete</a>
 </div>
 <div class="card-footer">
  {% for comment in post.comments.all %}
   <p> <span class="font-weight-bold">{{ comment.user }}&middot;</span>
     {{ comment }}
   </p>
   {%endfor %}
 </div>
</div>
{%endfor%}
{%endblock content%}
